<div class="container-fluid">
    <div class="row">
        <login-form>Loading...</login-form>
    </div>
</div>

<script>
    System.import('login').catch(function(err){ console.error(err); });
</script>