<div class="container-fluid">
    <div class="row">
        <register-form>Loading...</register-form>
    </div>
</div>

<script>
  System.import('register').catch(function(err){ console.error(err); });
</script>